body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 25px;
    padding: 0;
    background-color:rgb(247, 243, 243) ;
}

h1{
    text-align: center;
    color:rgb(79, 76, 76);
}

form{
    max-width: 600px;
    margin:auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);
    padding: 1%;
}

fieldset{
    border: 3px solid #4bb5f2;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: rgb(241, 246, 252);
}

legend{
    font-weight: bolder;
    text-align: left;
    color: #3c3a3a;
}
label{
    display: block;
    margin-top: 10px;
    color: #3c3a3a ;
}


input,textarea{
    width: calc(100% - 10px);
    padding: 8px;
    margin-top: 3px;
    border: 1px solid #1bcbe2; 
    border-radius: 5px;
    box-sizing: border-box;
}

button{
    display: block;
    width:  100%;
    padding: 10px;
    background-color:#21acb3ed;
    color: rgb(25, 24, 24);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover{
    background-color: #0be0e8;
}

#resumeOutput {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #21acb3ed ;
    border-radius: 8px;
    background-color: rgb(217, 240, 246);
    box-shadow: 0 5px 8px rgba(0,0,0,0.6);

}
#resumeOutput h2 {
    color: rgb(79, 76, 76); ;
}


.profilePicture {
    display: block;
    margin: 0 auto;
    border: 2px solid #21acb3ed;
    box-shadow: 0 4px 8px rgb(79, 76, 76);
    border-radius: 500%;
    width: 150px;
    height: 150px;
    object-fit: cover;

}